:root {
  --border-radius: 25px;
  --title-color: #129DFF;
  --button-background: #1199fa;
  --dark-blue-background: rgba(6, 17, 33, 1);
  --light-blue-background: #143364;
  --icon-color: #0B558D;
}

body {
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: aktiv-grotesk, Arial, Helvetica, sans-serif;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
}

a {
  background-color: transparent;
  border: 0px;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  color: #ccc;
  border-radius: var(--border-radius);
  color: #202732;
  padding-left: var(--border-radius);
  font-size: 1.3rem;
}

.wide-input {
  width: 100%;
}

.main-container {
  height: 100vh;
  background-color: white;
}

.landing-img {
  width: 100%;
}


.logo img {
  height: 40px;
  padding: 10px;
}

.user-menu {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar {
  background-color: #0F3373;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
  border-bottom: solid 1px rgb(174, 174, 174);
}

.navbar-button {
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  min-width: 100px;
  border: solid 3px white;
  text-align:center; 
  padding: 15px;
  height: 20px;
}

.navbar-button:hover {
  border: solid 3px #00CDBE;
}

.user-label {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.home {
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: center;
  margin-left: 10px;
}

.home-img {
  width: 100%;
  
}


.spinner {
  display: flex;
  background-color: rgba(0, 0, 0, 0.449);
  position: absolute;
  width: 100%;
  height: 100%;
}

.spinner-icon {
  margin: auto;
  color: white;
  opacity: 1.0;
}

.home-image {
  width: 100%;
}

.hidden {
  display: none;
}

.dav-modal {
  background: white;
  box-shadow: 0px 0px 3px black;
  border: 0px;
  padding: 50px;
  border-radius: var(--border-radius);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dav-moadal-tv {
  background-color: var(--dark-blue-background) !important;
}

.dav-header {
  margin-bottom: 40px;
  text-align: center;
  font-style: italic;
}

.dav-body {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.dav-idv-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dav-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 100%;
}

.dav-checkbox {
  display: flex;
  align-items: center;
  gap: 15px;
}

.input-checkbox {
  border-style: solid;
  border-width: 1px;
  width: 20px;
  height: 20px;
}

.text-input {
  height: 50px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 1px;
  background-color: white;
  color: black;
  font-size: 1rem;
  padding-left: 20px;
}

.dav-form select {
  height: 50px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 1px;
  background-color: white;
  color: black;
  font-size: 1rem;
  padding-left: 20px;
  padding-left: 20px;
}

.dav-form label {
  margin-bottom: 3px;
}

.dav-button {
  color: white;
  font-size: 1.1rem;
  background-color: #00CDBE;
  border: 0px;
  margin-top: 10px;
  height: 60px;
  width: 100%;
}

.dav-button:hover {
  color: #00CDBE;
  background-color: transparent;
  border: solid 1px #00CDBE ;
}

.dav-footer-links {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.dav-button-link {
  color: black;
  cursor: pointer;
  background: transparent;
  border-style: hidden;
  font-size: 0.8rem;
}

.dav-split-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.dav-legacy-auth {
  width: 400px;
}

.dav-divider {
  background-color: grey;
  width: 2px;
  height: 400px;
  margin-top: 80px;
}

.dav-qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code {
  margin-top: 50px;
  width: 300px;
}

div[class*="css-1"] {
  background-color: var(--icon-color) !important;
}

p {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.dav-nav-progress {
  background: transparent;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.dav-nav-progress-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.dav-progress-icon {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-image: linear-gradient(-45deg,
      var(--button-background) 0%,
      var(--dark-blue-background) 100%);
  border: 5px solid;
  border-color: rgb(244, 244, 244);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.future {
  background-image: linear-gradient(-270deg,
      rgb(206, 206, 206) 0%,
      rgb(218, 218, 218) 100%) !important;
}

.dav-icon-text {
  margin-top: 15px;
}

.dav-progress-text {
  font-weight: bold;
}

.styles_messageScreenIcon__1OC-X {
  visibility: hidden;
}

.styles_hftPoweredByText__3_s0Y {
  visibility: hidden;
}

.css-0 {
  text-align: center;
}

.sk-alert {
  color: red;
}

.dark-blue {
  color: var(--icon-color);
}